.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1 {
    margin: 10px 0;
}

.title h4 {
    color: #bdbdbd;
}

.head {
    display: flex;
    gap: 200px;
    border-bottom: 0.5px solid gray;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.price span {
    background-color: #254F4C;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 15px;

}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 50px;
}

.table {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.table_item {
    width: 1200px;
    display: flex;
    background-color: #d0d0d0;
    gap: 15px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid gray;
}

.table_item div {
    text-align: center;
}

.table_item p {
    font-size: 18px;
    text-align: center;
}

.table_item div:first-child {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.table_item:first-child div:first-child {
    justify-content: center !important;
}

.table_item div:nth-child(2), .table_item div:nth-child(3), .table_item div:nth-child(4) {
    width: 150px;
}

.table_item div:last-child {
    width: 200px;
    text-align: center;
}

.btn_remove {
    border: none;
    background-color: transparent;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

.btn_remove button {
    background-color: transparent;
}

.table_item:nth-child(2n) {
    background-color: #e7e7e7;
}

.table_item div:first-child img {
    width: 150px;
}

.btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.btn_set_count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 0.5px solid gray;
    border-radius: 15px;
}

.btn_set_count span {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    text-align: center;
    color: white;
    background-color: #254F4C;
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
}

.btn_set_count button {
    background-color: transparent;
    border: none;
    color: #FF583E;
    font-style: normal;
    display: flex;
    align-items: center;
    font-size: 50px;
    line-height: 23px;
    text-align: center;
}

.btn_set_count button:hover {
    cursor: pointer;
}

.table .table_item:first-child, .table .table_item:last-child {
    background-color: #2B4241;
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
    margin: 20px 0;
    border-radius: 25px;
}

.table .table_item:last-child {
    justify-content: flex-end;
}

.table_item .btn_remove:hover {
    cursor: pointer;
    filter: contrast(10%);
}

.table_item:last-child p {
    margin: 0;
}

.inputs {
    display: flex;
    justify-content: flex-end;
    width: 1200px;
    gap: 15px;
    margin: 20px 0;
    padding: 20px;
}

.inputs input {
    height: 50px;
    width: 250px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 15px;
}

.inputs form {
    display: flex;
    gap: 15px;
}

.inputs button {
    width: 215px;
    height: 50px;
    border: none;
    background-color: #FF583E;
    border-radius: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.inputs button:hover {
    background-color: #ff4326;
    cursor: pointer;
}