.sidebar {
    height: 100%;
    width: 275px;
    background-color: #363740;
    display: flex;
    flex-direction: column;
}

.sidebar ul a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 16px 0;
    margin: 0;
}

.logo p {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #A4A6B3;
    opacity: 0.7;
}

.sidebar ul {
    margin: 0;
    padding: 34px 0;
    border-bottom: 1px solid rgba(164, 166, 179, 0.08);
}

.sidebar ul li {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #A4A6B3;
    height: 55px;
    padding-left: 30px;
}

.active li {
    border-left: 3px solid #DDE2FF;
    background-color: rgba(159, 162, 180, 0.08);
    color: #DDE2FF !important;
}

.active img {
    filter: contrast(100%);
}

.sidebar ul li:hover {
    cursor: pointer;
    border-left: 3px solid #DDE2FF;
    background-color: rgba(159, 162, 180, 0.08);
}

.sidebar ul li img:hover {
    fill: #FF583E !important;
}