header {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

header ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 70px;
    margin: 0;
    padding: 25px 0;
    align-items: center;
    box-sizing: border-box;
}

header ul img {
    display: block;
    margin-right: 90px;
}

header ul li a {
    text-decoration: none;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1D3130;
}

header ul li a:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1D3130;
}

header ul li a:hover {
    color: #FF583E;
    border-bottom: 0.5px solid #FF583E;
}

header ul li img {
    margin-right: 8px;
}

.basket_null {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: black!important;
}

.basket_count {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FF583E;
}
.active {
    color: #FF583E;
}