footer{
    height: 155px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #254F4C;
}

footer ul{

}

footer ul li{
    display: inline-block;
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-left: 60px;
    color: #FFFFFF;
}

footer ul li img{
    margin-right: 8px;
}

footer ul li:last-child{
    /*display: flex;*/
    /*align-items: center;*/
}