.container {
    height: 100vh;
    display: flex;
    overflow-y:hidden;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: calc(100vh - 120px);
    gap: 20px;
    padding: 20px 0;
    overflow: auto!important;
    -ms-overflow-style: none!important;
}

.content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.container_child {
    width: 100%;
}







.table_item {
    width: 1200px;
    display: flex;
    /*flex-wrap: wrap;*/
    background-color: #d0d0d0;
    gap: 15px;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 0.5px solid gray;
}

.table_item div:first-child {
    width: 150px;
}

.table_item div:nth-child(2) {
    width: 100%;
}

.table_item div:last-child {
    width: 200px;
    text-align: center;
}

.table_item div button {
    margin: 10px;
    border: none;
    background-color: #2B4241;
    border-radius: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    padding: 2px 10px;
    color: #FFFFFF;
}

.table_item:nth-child(2n) {
    background-color: #e7e7e7;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.inputs {
    display: flex;
    gap: 10px;
}

.inputs input {
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
}

.inputs input::placeholder {
}

.btn button {
    width: 215px;
    height: 50px;
    border: none;
    background-color: #FF583E;
    border-radius: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn button:hover {
    background-color: #ff4326;
    cursor: pointer;
}

.table .table_item:nth-child(2) {
    background-color: #2B4241;
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
    margin: 20px 0;
}

.table {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.table button:hover {
    background-color: #385a56;
    cursor: pointer;
}
