.container {
    height: 100vh;
    display: flex;
    overflow-y: hidden;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: calc(100vh - 120px);
    gap: 20px;
    padding: 20px 0;
    overflow: auto !important;
    -ms-overflow-style: none !important;
    position: relative;
}

.content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.container_child {
    width: 100%;
}







