.container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    font-family: 'Roboto', serif;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.block > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.block > div button {
    width: 215px;
    height: 50px;
    border: none;
    background-color: #FF583E;
    border-radius: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.block > div button:hover {
    background-color: #ff4326;
    cursor: pointer;
}

.block h1 {
    width: 400px;
    text-align: center;
    padding: 20px;
}

.image {
    width: 700px;
}

.image_img {
    width: 100%;
}

.how_work {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 !important;
}

.how_work h2 {
    width: 100%;
    text-align: center;

}

.how_work div img {
    width: 100px;
}

.how_work div {
    display: flex;
    align-items: center;
    width: 400px;
    height: 100px;
    margin: 30px;
    border-radius: 15px;
    border: 0.5px solid gray;
}

.how_work div p {
    font-size: 14px;
}

.how_work div span {
    margin: 0 10px;
    padding: 15px;
    border-radius: 15px;
    background-color: #254F4C;
    color: white;
}

.how_pay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how_pay div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
    width: 600px;
    height: 100px;
    margin: 30px;
    border-radius: 15px;
    border: 0.5px solid gray;
}

.how_pay p {
    font-size: 14px;
    text-transform: uppercase;
}